   ul {
       list-style: none;
   }
   .artist-album {
       display: table;
       width: 50%;
   }
   .artist-album img {
       display: table-cell;
       max-width: 50%;
       max-height: 50%;
   }
   .artist-album-details {
       padding-left: 1em;
       vertical-align: middle;
       display: table-cell;
       width: 50%;
   }
   input {
       width: 300px;
       box-sizing: border-box;
       border: 2px solid #ccc;
       border-radius: 7px;
       font-size: 16px;
       background-color: white;
       background-position: 10px 10px;
       background-repeat: no-repeat;
       padding: 12px 20px 12px 40px;
       transition: width 0.4s ease-in-out;
   }
